.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
dev-uploads/*
!dev-uploads/gitkeep
!.env.example
!.env.test*
src/**/*.js
src/**/*.js.map
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
project.inlang
